#profile-friends {
}

.profile-friends-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.profile-friends-list-container {
  height: 860px;
  overflow-y: scroll;
  padding: 3px;
}

.profile-list-item {
  width: 100%;
  margin-bottom: 20px;
  background-color: var(--grayscale_1);
  border-radius: 10px;
  transition: all 0.2s ease;
}

.profile-list-item .profile-list-card {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 16px 24px;
}

.profile-list-item:active {
  transform: scale(0.96);
}

.profile-list-item:hover {
  background-color: var(--grayscale_0);
  box-shadow: var(--shadow);
}

.profile-list-item:last-child {
  margin-bottom: 0;
}

.profile-list-item .top-friend-flag {
  /* display: none; */
  color: var(--secondary);
}

.profile-list-item .top-friend-flag + .page-paragraph {
  margin-bottom: 8px;
}

.profile-list-item-avatar {
  display: inline-block;
  background-color: var(--grayscale_2);
  border-radius: 50%;
  overflow: hidden;
  height: 90px;
  width: 90px;
  min-width: 90px;
  transition: 0.3s ease;
}

.profile-list-item-avatar .profile-avatar-initials {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 24px;
  color: var(--deepSmoke);
}

.profile-list-item-avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile-list-item:hover .profile-list-item-avatar {
  transition: 0.3s ease;
  border-radius: 30px;
}

.profile-list-item-info {
  width: 100%;
  margin-left: 24px;
}

/* SKELETON LOADING */

#profile-friends .skeleton-block {
  margin-bottom: 4px;
}

#profile-friends .skeleton-card {
  width: 100%;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 16px 24px;
}
