#profile-posts {
  margin-top: 50px;
}

#profile-posts .content-card {
  background-color: var(--grayscale_1);
}

.profile-post-results {
  margin-top: 16px;
}

.post-author-avatar {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--grayscale_2);
  height: 75px;
  width: 75px;
  min-width: 75px;
}

.post-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.post-author-avatar .post-author-avatar-initials {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
  color: var(--deepSmoke);
}

.post-author-avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.post-author-info {
  width: 100%;
  margin-left: 24px;
}

.post-author-info > :first-child {
  margin-bottom: 8px;
}

.post-body-expand-collapse-button {
  margin-top: 9px;
  background-color: initial;
  color: var(--accent);
  font-size: 16px;
  transition: 0.1s ease;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.post-body-expand-collapse-button:hover {
  opacity: 0.75;
}

.post-meta-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 12px;
}

.post-meta-info > :first-child {
  padding-right: 7px;
}

.post-meta-info > :last-child {
  padding-right: 7px;
}

/* SKELETON LOADING */
.post-content.skeleton-block {
  height: 125px;
  margin-bottom: 8px;
}
